@model Procrastinator.Models.ViewModels.InfoVIewModel


@{
    ViewBag.Title = "Visitors";
}

<h2>Visitors of our gym</h2>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Find by last name</label>
        <input name="name" class="form-control" />

        <label class="control-label">Coach</label>
        <select name="coach" asp-items="@Model.Coaches" class="form-control"></select>

        <input type="submit" value="Find" class="btn btn-default" />
    </div>
</form>

<table cellspacing="0" cellpadding="0" border="0" width="325">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="1" border="1" width="600">
                <tr style="color:white;background-color:grey">
                    <th align="center">First name</th>
                    <th align="center">Last name</th>
                    <th align="center">Phone number</th>
                    <th align="left">Coach</th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div style="width:800px; height:800px; overflow:auto;">
                <table cellspacing="0" cellpadding="1" border="1" width="600">

                    @foreach (var item in Model.GymVisitors)
                    {
                        int cId = item.CoachId;
                        <tr>
                            <td align="center">@item.FirstName</td>
                            <td align="center">@item.LastName</td>
                            <td align="center">@item.Phone</td>
                            <td align="center">@Model.GymCoaches.Where(p => p.Id == cId).First().LastName</td>


                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>




    


 </table>
